@import '~@angular/material/theming';

mat-sidenav {
  width: 250px;

  mat-icon {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}

mat-sidenav-container {
  mat-toolbar {

    .spacer {
      /* This fills the remaining space, by using flexbox.
         Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
    }

    .nav-button {
      margin: 0 10px 0 0;
    }

    .branding {
      mat-icon {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

/*
 * Actual Sticky Footer Styles
 */

.all-wrap {
  min-height: 100vh; // same height as browser window height
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // same height as browser window height
}

.content {
  flex: 1; // child will set to an equal size inside the container
}


/*
 * Make the component injected by <router-outlet> full height:
 */

main {

  display: flex;
  flex-direction: column;

  // Select all direct descendants only of the <main> element
  // that are not <router-outlet> elements:
  > *:not(router-outlet) {

    flex: 1; // child will set to an equal size inside the container
    display: block;

  }

}
