<!--<div style="text-align:center">-->
<!--  <h1>-->
<!--    Welcome to {{ title }}!-->
<!--  </h1>-->
<!--</div>-->

<!--<button mat-button color="primary">Primary</button>-->

<!--<router-outlet></router-outlet>-->

<mat-sidenav-container class="all-wrap">
  <mat-sidenav #sidenav mode="push">
    <mat-icon>fastfood</mat-icon>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationItems" (click)="sidenav.close()" [routerLink]="[item.link]"
         routerLinkActive="active">
        {{item.label}}
      </a>
      <a mat-list-item href="https://github.com/tomastrajan/angular-ngrx-material-starter" target="_blank">
        Github
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrap">

    <mat-toolbar color="primary">

      <button class="d-md-none" mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="d-xs-inline d-md-none">
        ng-frituur
      </span>

      <span class="branding d-none d-md-inline">
        <mat-icon>fastfood</mat-icon>ng-frituur
      </span>

      <span class="spacer"></span>

      <span class="d-none d-md-inline">
        <button mat-button class="nav-button"
                routerLinkActive="active"
                *ngFor="let item of navigationItems" [routerLink]="[item.link]">
          {{item.label}}
        </button>
      </span>

      <a target="_blank" href="https://github.com/Jdruwe/ng-frituur" mat-icon-button>
        <mat-icon>code</mat-icon>
      </a>

    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <h2>Sticky Footer !!</h2>
      <p>... with variable height</p>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>

